name: Auto Assign

on:
  issues:
    types: [opened]
  pull_request:
    types: [opened]

permissions:
  issues: write
  pull-requests: write

jobs:
  auto-assign:
    runs-on: ubuntu-latest
    steps:
      - name: Auto-assign issue
        if: github.event_name == 'issues'
        uses: pozil/auto-assign-issue@v2
        with:
          assignees: Ker102
          numOfAssignee: 1

      - name: Auto-assign PR
        if: github.event_name == 'pull_request'
        uses: kentaro-m/auto-assign-action@v2.0.0
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
